//@import (reference) '../bower_components/bootstrap/less/bootstrap';
//@import (reference) 'extra';

.outline {
  outline: thin solid;
  outline-offset: -1px;
}

.clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

/*
html { height: 100%; }

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  .outline;
  outline-color: red;
}
*/

/////////////////////

.one, .two {
  .outline;
  width: 40px;
  height: 40px;
  float: left;
}
.after, .before {
  .outline;
  clear: both;
}
.before {
  margin-bottom: -10px;

}
.after {
   margin-top: -10px;

 }