@import 'dkMixins';

/* ///////////////////////////// */

body {
   margin: 0;
   padding: 30px;
}



.one {
   .box(200);
   .outline;
   position: relative;
   padding: 30px;
   background: plum;
   background-clip: content-box;
   border: 10px solid;
}
.two {
   display: inline-block;
height:50%;
   width: 50%;
   .outline;
}
