@import 'dk-mixins';

/* ///////////////////////////// */

html,body {height: 100%;}

body {
   padding: 0px;
   .outline-blue2;
}


.one {
.outline;
   padding-top: 50px;
   padding-bottom: 50px;
   height: 100%;
   overflow-y: auto;
}





