.usernav {
  /*

  .usernav-name {
    display: inline-block;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
      margin: 0;
      line-height: @navbar-line-height;
    }
  }

  .usernav-links {
    float: right;
    line-height: @navbar-line-height;
    text-align: center;
    display: inline-block;
    width: 30%;
    span, a {
      margin: 0;
      line-height: @navbar-line-height;
    }
  }

  */
}
.usernav ul > li {
  border-top: thin solid rgba(0, 0, 0, 0.2);
}
.usernav > div {
  border-top: thin solid rgba(0, 0, 0, 0.2);
}
.usernav span,
.usernav a {
  line-height: 40px;
}
.usernav .animate {
  max-height: 48px;
}
.usernav .animate.ng-enter,
.usernav .animate.ng-move,
.usernav .animate.ng-leave {
  transition: all linear 1s;
}
.usernav .animate.ng-leave.ng-leave-active,
.usernav .animate.ng-move,
.usernav .animate.ng-enter {
  opacity: 0;
  max-height: 0px;
}
.usernav .animate.ng-leave,
.usernav .animate.ng-move.ng-move-active,
.usernav .animate.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 48px;
}
